.CartButton{
    position: fixed;
    top: 5px;
    right:20px;
    outline: none;
    border: none;
    background-color: transparent;
    border-radius: 50%;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    color:rgb(236, 238, 243);
    text-shadow: 2px 3px 5px rgba(59, 59, 59, 0.329);
}

.AuxCartButton{
    outline: none;
    border: none;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 50px;
    font-size: 18px;
    font-family: sans-serif;
    color: rgb(65, 65, 65);
    background-color: rgba(127, 241, 127, 0.92);
    padding: 5px 10px 5px 10px;
    box-shadow: 0 0 5px rgb(197, 197, 197);
}

.Button:active{
    color: rgb(0, 0, 0);
    background-color: rgb(99, 214, 99);
}



.Notification{
    position: absolute;
    font-family: sans-serif;
    font-size: 10px;
    color: rgb(238, 238, 238);
    border-radius: 50%;
    height: 18px;
    width: 18px;
    background-color: rgb(233, 23, 23);
    margin-left:30px ;
    margin-top:30px ;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media only screen and (min-width: 800px) {
    .CartButton{
        position: fixed;
        top: auto;
        bottom: auto;
        bottom: 40px;
        right:40px;
        background-color: transparent;
        border-radius: 50%;
        padding: 3px;
        height: 100px;
        width: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 60px;
        color:rgb(54, 98, 219);
        text-shadow: 2px 3px 5px rgba(59, 59, 59, 0.329);
        
    }
    .Notification{
        margin: 0;
        margin-left: 60px;
        margin-bottom: 60px;
        font-size: 15px;
        color: rgb(238, 238, 238);
        height: 22px;
        width: 22px;
        background-color: rgb(233, 23, 23);
    }
    .AuxCartButton{
        display: none;
    }
  }