.Product{
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 30px rgb(233, 233, 233);
    color: rgb(83, 83, 83);
    margin: 20px;
    min-height: 400px;
    width:270px;
    display: flex;
    flex-direction: column;
}
.ImgContainer{
    width: 100%;
    height: 300px;
    background-color: rgb(250, 250, 250);
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(226, 226, 226);
}
.InfoContainer{
    margin: 5px;
    flex-grow: 1
}
.Title{
    margin:5px;
}
.Price{
    margin:10px 5px 5px 10px;
    color: rgb(26, 214, 51);
    font-weight: 600;
}
.Button{
    outline: none;
    border: none;
    font-family: sans-serif;
    font-size: 15px;
    color: rgb(56, 56, 56);
    background-color: rgb(127, 241, 127);
    padding: 5px 10px 5px 10px;
    border-radius: 3px;
    width: 150px;
}
.Button:active{
    color: rgb(0, 0, 0);
    background-color: rgb(99, 214, 99);
}
.UIContainer{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
