.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    --line-color: rgb(182, 182, 182);
}
.menu{
    padding: 10px;
}
.menuButton{
    outline: none;
    border:none;
    padding: 5px;
    width: 100px;
    margin: 3px;
    background-color:rgb(71, 211, 71);
    border-radius: 3px;
    transition: all 0.2s ;
}
.menuButton:active{
    background-color: rgb(44, 192, 44);
}
.CategoryLabel{
    padding: 5px;
    background-color: rgb(88, 88, 235);
    color: white;
    border-bottom: 1px solid var(--line-color);   
}
.grid{
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--line-color);
    border-right: 1px solid var(--line-color);
    border-left: 1px solid var(--line-color);
    border-radius: 5px;
    overflow: hidden;
    width: fit-content;
    min-width: 350px;
    box-shadow: 1px 1px 7px rgb(207, 207, 207);
}
.product{
    background-color: rgb(113, 177, 214);
    display: flex;
    width: fit-content;
    border-bottom: 1px solid var(--line-color);
}

.title_input{
    outline: none;
    border:none;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    width: 150px;
    border-right: 1px solid var(--line-color);
}
.brand_input{
    outline: none;
    border:none;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    width: 50px;
    border-right: 1px solid var(--line-color);
}
.price_input{
    outline: none;
    border:none;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    width: 30px;
    border-right: 1px solid var(--line-color);
}
.picLabel_new{
   background-color: white; 
   color: rgb(255, 143, 143);
   border-right: 1px solid var(--line-color);
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 5px;
}
.picLabel_old{
    background-color: white; 
    color: rgb(153, 153, 153);
    border-right: 1px solid var(--line-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
 }
.picFileInput{
    display: none;
}
.StockSliderContainer{
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border-right: 1px solid var(--line-color);
}
.DeleteContainer{
    padding: 0;
    width: 30px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}
.Tacha{
    background-color: rgb(49, 49, 49);
    width: 325px;
    margin-top: 13px;
    height: 3px;
    position: absolute;
}
.SpinnerContainer{
    width: 100%;
    height: 300px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.DeleteLocalButton{
    outline: none;
    border: none;
    color: rgb(56, 56, 56) ;
    font-size: 14px;
    background-color: rgb(255, 255, 255);
    padding: 0;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.AddButton{
    margin: 10px;
}
.SaveButton{
    margin:15px 0 15px 0;
    padding: 10px;
    outline: none;
    border: none;
    background-color: rgb(71, 211, 71);
    border-radius: 3px;
    box-shadow: 1px 1px 2px rgb(172, 172, 172);
    transition: all 0.2s ;
}
.SaveButton:active{
    background-color: rgb(44, 192, 44);
    box-shadow: 1px 1px 3px rgb(221, 220, 220);
}

@media only screen and (min-width: 800px) {
    .grid{
        min-width: 623px;
    }
    .title_input{
        width: 350px;
    }
    .brand_input{
        width: 100px;
    }
    .price_input{
        width: 60px;
    }
    .Tacha{
        width: 605px;
    }
}